
/* CSS for hiding/showing the textbox */
.comment-box {
    display: none; /* Hide the textbox initially */
}

/* Custom styles for the button */
.comment-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.comment-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.post-user-name {
    text-decoration: none;
}