{% extends 'base.html' %}
{% block title %}{{post.title}} | Future Blogspot{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card border-dark mt-4 mb-4 me-4 ms-4 shadow rounded-3" style="">
                    <div class="card-body">
                        {% for item in cat_menu_list %}
                <a class="dropdown-item" href="{% url 'category' item|slugify  %}">{{ item }}</a>
              {% endfor %}

                    </div>    
                </div>
                <div class="col-md-6">
                    <a class="mx-auto ms-4" href="{% url 'home' %}">
                        <button type="submit" class="btn btn-secondary rounded-3">
                            <i class="fa-solid fa-chevron-left"></i>
                            Back Home
                        </button>
                    </a>

                </div>




            </div>
        </div>
    </div>



{% endblock %}