{% extends 'base.html' %}
{% load static %}

{% block title %}Blog Posts | Future Blogspot{% endblock %}

{% block body %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="mt-4 mb-4 me-4 ms-4">
                {% for post in object_list %}
                <a href="{% url 'post' post.pk %}" class="card-link post-user-name" style="text-decoration: none;">
                    <div class="card mb-2 rounded-3 shadow">
                        <div class="d-flex card-header justify-content-between">
                            <div class="d-flex">
                                {% if post.author.profile.profile_pic %}
                                    <img src="{{ post.author.profile.profile_pic.url }}" id="profile-picture" style="width: 50px; height: 50px;" class="rounded-circle profile-picture profile_pic mb-2" alt="Profile Picture">
                                {% else %}
                                    <img src="{% static 'theblog/images/blank_profile_pic.jpg' %}" id="profile-picture" style="width: 50px; height: 50px;" class="rounded-circle profile-picture profile_pic mb-2" alt="Profile Picture">
                                {% endif %}
                                <h4 class="card-title mt-3 ms-1 me-1">{{ post.author.username }}</h4>
                                <h6 class="card-subtitle mt-3 mb-2 text-muted">{{ post.created_at|date:"m/d" }}</h6>
                            </div>
                            
                            <div class="category">
                                <a href="{% url 'category' post.category|slugify %}">
                                    <button type="button" class="mt-2 btn rounded-3 btn-sm btn-outline-secondary">{{post.category}}</button>
                                </a>  
                            </div>
                        </div>
                        <div class="cardimg">
                            {% if post.header_image %}
                                <div class="text-center">
                                    <img style="object-fit: cover; width: 100%; max-height: 500px;" class="img-fluid mb-2 mt-2 rounded-3 shadow" src="{{ post.header_image.url }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.2rem;">{{ post.body|striptags }}</p>
                        </div>
                        <div class="ms-3 mt-2 mb-2 me-3 d-flex card-buttons justify-content-between">
                            <div class="view_comment">
                                <a href="{% url 'post' post.pk %}" class="card-link" style="text-decoration: none;">
                                    <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="make-comment">
                                <a href="{% url 'post' post.pk %}" class="card-link" style="text-decoration: none;">
                                    <i class="fa fa-comment fa-lg" aria-hidden="true"></i>
                                    {{ post.comments.count }}
                                </a>
                            </div>
                            <div class="likes">
                                <form action="{% url 'like_post' post.pk %}" method="post" class="like-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                            
                                    {% if user.is_authenticated %}
                                        <button type="submit" class="like-button">
                                            {% if liked %}
                                                <i class="fa-lg fas fa-heart text-danger"></i>
                                            {% else %}
                                                <i class="fa-lg fas fa-heart text-primary"></i>
                                            {% endif %}
                                            <span class="like-count">{{ post.likes.count }}</span>
                                        </button>
                                    {% else %}
                                        <a href="{% url 'login' %}" class="login-link">Login</a> to like
                                    {% endif %}
                                </form>
                            </div>
                            
                            
                        </div>
                    </div>
                </a>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
    $('.like-form').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function(response) {
                form.find('.like-count').text(response.new_like_count); // Update like count
                var likeButton = form.find('.like-button i');
                if (response.liked) {
                    likeButton.removeClass('text-primary').addClass('text-danger');
                } else {
                    likeButton.removeClass('text-danger').addClass('text-primary');
                }
            },
            error: function(xhr) {
                alert('An error occurred while updating likes. Please try again.');
            }
        });
    });
});
</script>


{% endblock %}
