{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.title}} | Future Blogspot{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card mt-4 mb-4 me-4 ms-4 shadow rounded-3" style="">
                    <div class="card-body">
                        <h4 class="card-title">{{post.title}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">by: <cite title="Source Title">{{post.author}} - {{ post.created_at }}</cite> </h6>

                        <!-- Add Bootstrap classes to the image for alignment -->
                        {% if post.header_image %}
                            <img style="object-fit: cover; width: 100%; max-height: 100%" class="img-fluid mb-2" src="{{ post.header_image.url }}" alt="">
                        {% endif %}
                        <p class="article-content card-text">{{post.body|safe}}</p>
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                                <a href="{% url 'update_post' post.pk %}" class="btn btn-primary card-link rounded-3">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Update
                                </a>
                                <a href="#" class="btn btn-info card-link rounded-3">
                                    <i class="fa-solid fa-reply"></i>
                                    Reply
                                </a>
                                <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger card-link rounded-3">
                                    <i class="fa-regular fa-trash-can"></i>
                                    Delete Post
                                </a>
                            {% endif %}
                        {% endif %}
                            <form action="{% url 'like_post' post.pk %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                {% if user.is_authenticated %}

                                    {% if liked %}
                                        <button type="submit" class="btn btn-link">
                                            <i class="fa-lg fas fa-thumbs-down text-danger"></i>
                                        </button>
                                        
                                    {% else %}
                                        <button type="submit" class="btn btn-link">
                                            <i class="fa-lg fas fa-thumbs-up text-primary"></i>
                                        </button>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'login' %}">Login </a>to like |
                                    
                                {% endif %}
                                {{ total_likes }} people like this
                            </form>            
                    </div>    
                </div>
                <!-- comment section -->
               <!-- Comment section -->
                <div class="card mt-2 mb-4 me-4 ms-4 shadow rounded-3">
                    <div class="card-body">
                        <h4 class="me-2 card-title">Comments</h4>
                        {% if not post.comments.all %}
                            <p class="card-text">No comments yet! You can be the first....</p>
                        {% else %}
                            {% for comment in post.comments.all %}
                                <div class="card mt-2 mb-2 ms-2 me-2 rounded-3 shadow">
                                    <div class="card-body">
                                        <div class="justify-content-between d-flex">
                                            <h4 class="card-title">{{comment.name}}</h4>
                                            <button type="button" class="btn rounded-3 btn-sm btn-outline-secondary">{{comment.author}}</button>                        
                                        </div>
                                        <h6 class="card-subtitle mb-2 text-muted">by: <cite title="Source Title">{{comment.post.author.user.user.first_name}} - {{ comment.date_added }}</cite></h6>
                                        <p class="card-text">{{ comment.body }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Comment form -->
                        {% if user.is_authenticated %}
                            <div id="comment-form" data-post-id="{{ post.id }}">
                                <div class="form-group">
                                    <textarea class="form-control" id="comment-textarea" rows="4"></textarea>
                                </div>
                                <button type="button" class="btn btn-primary" id="submit-comment">Add Comment</button>
                            </div>
                        {% else %}
                        <a class="comment-button" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i> Login to Comment
                        </a>
                        {% endif %}
                    </div>
                </div>

                




            </div>
            <div class="col-md-4 mt-4 mx-auto">
                <div class="card rounded shadow">
                    {% for post in posts %}
                    <div class="post">
                        <div class="me-2 rounded ms-2">
                            {% if post.author.profile_pic %}
                                <img src="{{ post.author.profile_pic.url }}" alt="{{ post.author.username }}">
                            {% else %}
                                <img src="" alt="Default Profile Image">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                    <img style="object-fit: cover; width: 100%; max-height: 500px;" src="{{ post.author.profile.profile_pic.url }}" max-height="100" class="card-img-top" alt="Profile Picture">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.author.username }}</h5>
                        <p class="card-text text-muted">{{post.author.profile.bio}}</p>
                        <a href="{% url 'show_profile_page' post.author.profile.id %}" class="btn rounded-3 btn-primary">Go to Profile</a>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="col-2">
            <a class="mx-auto ms-4" href="{% url 'home' %}">
                <button type="submit" class="btn btn-secondary rounded-3">
                    <i class="fa-solid fa-chevron-left"></i>
                    Back Home
                </button>
            </a>

        </div>
    </div>

    <script>
        // JavaScript to toggle the visibility of the comment box
        document.getElementById("addCommentButton").addEventListener("click", function() {
            // Prevent the default behavior of the anchor element
            event.preventDefault();

            var commentBox = document.getElementById("commentBox");
            // Toggle visibility of the comment box
            if (commentBox.style.display === "none") {
                commentBox.style.display = "block";
            } else {
                commentBox.style.display = "none";
            }
        });

 
    </script>


{% endblock %}