{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.title}} | Future Blogspot{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card mt-4 mb-2 rounded-3 shadow">
                    <div class="d-flex card-header justify-content-between">
                        <div class="d-flex">
                            {% if post.author.profile.profile_pic %}
                                <img src="{{ post.author.profile.profile_pic.url }}" id="profile-picture" style="width: 50px; height: 50px;" class="rounded-circle profile-picture profile_pic mb-2" alt="Profile Picture">
                            {% else %}
                                <img src="{% static 'theblog/images/blank_profile_pic.jpg' %}" id="profile-picture" style="width: 50px; height: 50px;" class="rounded-circle profile-picture profile_pic mb-2" alt="Profile Picture">
                            {% endif %}
                            <h4 class="card-title mt-3 ms-1 me-1">{{ post.author.username }}</h4>
                            <h6 class="card-subtitle mt-4 mb-2 text-muted">{{ post.created_at }}</h6>
                       </div>
                        
                        <div class="category">
                            <a href="#">
                                <button type="button" class="mt-2 btn rounded-3 btn-sm btn-outline-secondary">{{post.category}}</button>
                            </a>  
                        </div>
                    </div>
                    <div class="cardimg">
                        {% if post.header_image %}
                            <div class="text-center">
                                <img style="object-fit: cover; width: 100%; max-height: 500px;" class="img-fluid mb-2 mt-2 rounded-3 shadow" src="{{ post.header_image.url }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="font-size: 1.2rem;">{{ post.body|striptags }}</p>
                    </div>
                    <div class="ms-3 mt-2 mb-2 me-3 d-flex card-buttons justify-content-between">
                        <div class="view_comment">
                            <a href="{% url 'post' post.pk %}" class="card-link" style="text-decoration: none;">
                                <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="make-comment">
                            <a href="{% url 'post' post.pk %}" class="card-link" style="text-decoration: none;">
                                <i class="fa fa-comment fa-lg" aria-hidden="true"></i>
                                {{ post.comments.count }}
                            </a>
                        </div>
                        <div class="likes">
                            <form action="{% url 'like_post' post.pk %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                {% if user.is_authenticated %}

                                    {% if liked %}
                                        <button type="submit" class="btn btn-link">
                                            <i class="fa-lg fas fa-heart text-danger"></i>
                                        </button>
                                        
                                    {% else %}
                                        <button type="submit" class="btn btn-link">
                                            <i class="fa-lg fas fa-heart text-primary"></i>
                                        </button>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'login' %}">Login </a>to like |
                                    
                                {% endif %}
                                {{ post.likes.count }}
                            </form>
                            <!-- <a href="{% url 'post' post.pk %}" class="card-link" style="text-decoration: none;">
                                <i class="fa fa-heart fa-lg" aria-hidden="true"></i> 
                                </a> -->
                            
                        </div>
                    </div>
                </div>

                <!-- comment section -->
               <!-- Comment section -->
                <div class="card mt-2 mb-4 me-4 ms-4 shadow rounded-3">
                    <div class="card-body">
                        <h4 class="me-2 card-title">Comments({{ post.comments.count }})</h4>
                        {% if not post.comments.all %}
                            <p class="card-text">No comments yet! You can be the first....</p>
                        {% else %}
                            {% for comment in post.comments.all %}
                                <div class="card mt-2 mb-2 ms-2 me-2 rounded-3 shadow">
                                    <div class="card-body">
                                        <div class="justify-content-between d-flex">
                                            <h3 class="card-subtitle mb-2 text-muted"><cite title="Source Title">{{comment.author.username}}</cite></h3>
                                            <!-- view commenter's profile -->
                                            <a href="#" class="card-link" style="text-decoration: none;">
                                                <button type="button" class="btn rounded-3 btn-sm btn-outline-secondary">View Profile</button>                        

                                            </a>
                                        </div>
                                        <h6 class="card-subtitle mb-2 text-muted">by: <cite title="Source Title">{{ comment.date_added }}</cite></h6>
                                    
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text" style="font-size: 1.2rem;">{{ comment.body }}</p>

                                            {% if user.id == comment.author.id %}
                                                <a href="{% url 'delete_comment' comment.pk %}" class="card-link rounded-3 mb-2">
                                                    <i style="color: red;" class="fa-regular fa-lg fa-trash-can red-icon"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                
                            
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Comment form -->
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'post' pk=post.pk %}">
                                {% csrf_token %}
                                {{ comment_form.as_p }}
                                <button class="btn btn-primary rounded-3" type="submit">Post Comment</button>
                            </form>    
                            <!-- <div id="comment-form" data-post-id="{{ post.id }}">
                                <div class="form-group">
                                    <textarea class="form-control" id="comment-textarea" rows="4"></textarea>
                                </div>
                                <button type="button" class="btn btn-primary" id="submit-comment">Add Comment</button>
                            </div> -->
                        {% else %}
                        <a class="comment-button" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i> Login to Comment
                        </a>
                        {% endif %}
                    </div>
                </div>

                




            </div>
            <div class="col-md-4 mt-4 mx-auto">
                <div class="card rounded shadow">
                    {% for post in posts %}
                    <div class="post">
                        <div class="me-2 rounded ms-2">
                            {% if post.author.profile_pic %}
                                <img class="rounded-2" src="{{ post.author.profile_pic.url }}" alt="profile pic">
                            {% else %}
                                <img src="{% static 'theblog/images/blank_profile_pic.jpg' %}" id="profile-picture" style="width: 50px; height: 50px;" class="rounded-circle profile-picture profile_pic mb-2 mx-auto" alt="Profile Picture">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                    {% if post.author.profile.profile_pic %}
                        <img class="rounded" style="object-fit: cover; width: 100%; max-height: 500px;" src="{{ post.author.profile.profile_pic.url }}" max-height="100" class="card-img-top" alt="Profile Picture">
                    {% else %}
                        <img class="rounded" src="{% static 'theblog/images/blank_profile_pic.jpg' %}" id="profile-picture" style="width: 100%; max-height: 500px;" class=" profile_pic mb-2 mx-auto" alt="Profile Picture">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ post.author.username }}</h5>
                        <p class="card-text text-muted">{{post.author.profile.bio}}</p>
                        {% if post.author.profile %}
                            <a href="{% url 'show_profile_page' post.author.profile.id %}" class="btn rounded-3 btn-primary">Go to Profile</a>
                        {% else %}
                            {% if user.id == post.author.id %}
                                <a href="{% url 'create_profile_page' post.author.id %}" class="btn rounded-3 btn-primary">Create Profile</a>
                            {% else %}
                                <p>{{ post.author.username }}'s profile page isn't set up yet.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="col-2">
            <a class="mx-auto ms-4" href="{% url 'home' %}">
                <button type="submit" class="btn btn-secondary rounded-3">
                    <i class="fa-solid fa-chevron-left"></i>
                    Back Home
                </button>
            </a>

        </div>
    </div>

    <script>
        // JavaScript to toggle the visibility of the comment box
        document.getElementById("addCommentButton").addEventListener("click", function() {
            // Prevent the default behavior of the anchor element
            event.preventDefault();

            var commentBox = document.getElementById("commentBox");
            // Toggle visibility of the comment box
            if (commentBox.style.display === "none") {
                commentBox.style.display = "block";
            } else {
                commentBox.style.display = "none";
            }
        });

 
    </script>


{% endblock %}