{% extends 'base.html' %}
{% block title %}Edit Profile | Future Blogspot{% endblock %}
{% block body %}


{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-dark mt-4 mb-4 me-4 ms-4 rounded-3" style="">
                        <div class="card-body">
                        <h4 class="card-title">Edit Profile</h4>
                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            
                            <button type="submit" class="btn btn-primary rounded-3">Update Profile</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    {% else %}

    <div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Oh snap!</strong> <a href="{% url 'login' %}" class="alert-link">Sign in to add a Post</a>
    </div>


    {% endif %}

{% else %}

    Wrong user. Please close this page and try again!

{% endif %}

    

{% endblock %}