{% extends 'base.html' %}
{% block title %}Edit Profile| Future Blogspot{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card border-dark mt-4 mb-4 me-4 ms-4 rounded-3" style="">
                <div class="card-body">
                  <h4 class="card-title">Edit Settings</h4>
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      
                      <button type="submit" class="btn btn-primary rounded-3">Update Profile!!</button>
                    </form>
                </div>
              </div>
            
        </div>
    </div>
</div>

{% endblock %}